$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;
$boat-btn: #2D374A;
$boat-txt: #8B89A7;

// СПЕЦИАЛЬНЫЕ !!!
section#boats-block {
  padding: 0;
  @media screen 
    and (max-device-width: 1000px)
    and (min-device-width: 320px)
    and (orientation: landscape) {
      width: 500px;
      margin: auto;
  }
}

h1#boat-name {
  width: 100%;
  padding: 0 15px;
  margin: 100px 0 40px;
  font-size: 3.5rem;
  font-weight: 400;
}
#carusel {
  width: 100%;
  height: 300px;
  position: relative;
  .wrapper {
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
  }
  .ctr-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: translateY(-50%);
    background-color: lighten($body, 5);
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba( $shadow, .4);
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
    @media screen 
      and (max-device-width: 500px)
      and (orientation: portrait) {
      display: none;
    }
    @media screen 
      and (max-device-width: 1000px)
      and (orientation: landscape) {
      display: none;
    }
    &#next-btn {
      right: -25px;
      &::after {
        content: '';
        width: 20px;
        height: 3px;
        position: absolute;
        top: 18px;
        left: 16px;
        background-color: #ffffff;
        transform: rotate(45deg);
      }
      &::before { 
        content: '';
        width: 20px;
        height: 3px;
        position: absolute;
        top: 30px;
        left: 16px;
        background-color: #ffffff;
        transform: rotate(-45deg);
      }
    }
    &#prev-btn {
      left: -25px;
      &::after {
        content: '';
        width: 20px;
        height: 3px;
        position: absolute;
        top: 18px;
        left: 14px;
        background-color: #ffffff;
        transform: rotate(-45deg);
      }
      &::before { 
        content: '';
        width: 20px;
        height: 3px;
        position: absolute;
        top: 30px;
        left: 14px;
        background-color: #ffffff;
        transform: rotate(45deg);
      }
    }
    &.hide {
      opacity: 0;
      transition: all .3s ease-in-out;
      pointer-events: none;
      cursor: none;
    }
  }
}
  // ВНИМАНИЕ!!!!
  // Ни в коем случае не вешать transition 
  // На класс который нужно передвигать мышью!!!
  #collage {
    height: 300px;
    position: absolute;
    left: 0px;
    display: flex;
  }
  .slide {
    width: 180px;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(black, .3);
    cursor: grab;
    &:last-of-type {
      .dir-arrow {
        display: none;
      }
    }
    img {
      width: inherit;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      position: absolute;
      z-index: 5;
    }
    figcaption {
      width: inherit;
      height: 100%;
      opacity: 1;
      position: absolute;
      border-radius: inherit;
      background-color: rgba($body, .5);
      transition: all .3s ease-in-out;
      z-index: 10;
      @media screen 
        and (max-device-width: 500px)
        and (orientation: portrait){
        display: none;
      }
      @media screen 
        and (max-device-width: 1000px)
        and (orientation: landscape){
        display: none;
      }
      
    }
    .dir-arrow {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;
      border: 2px solid rgba(white, .6);
      z-index: 10;
      @media screen 
        and (min-device-width: 500px) {
        display: none;
      }
      span {
        width: 14px;
        height: 3px;
        position: absolute;
        top: 11px;
        left: 6px;
        border-radius: 50px;
        background-color: rgba(white, .6);
        &::after {
          content: '';
          width: 8px;
          height: 3px;
          position: absolute;
          top: 3px;
          right: 0px;
          border-radius: 50px;
          background-color: inherit;
          transform: rotate(-45deg);
        }
        &::before {
          content: '';
          width: 8px;
          height: 3px;
          position: absolute;
          top: -3px;
          right: 0px;
          border-radius: 50px;
          background-color: inherit;
          transform: rotate(45deg);
        }
      }
    }
    &:hover {
      figcaption {
        opacity: 0;
        pointer-events: none;
      }
      i {
        transform: translateX(10px);
      }
    }
  }
.slide-anim {
  transition: all .3s ease-in-out;
}


  // Модальное окна
.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba( #000000, .8);
  transition: all .3s ease-in-out;
  z-index: 200;
  .close-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    z-index: 202;
    @media screen 
      and (max-device-width: 1100px)
      and (min-device-width: 320px)
      and (orientation: landscape) {
        background-color: rgba(#000, .5);
    }
    &::after {
      content: '';
      width: 30px;
      height: 3px;
      position: absolute;
      top: 23px;
      right: 10px;
      background-color: #ffffff;
      transform: rotate(45deg);
      transition: all .3s ease-in-out;
      @media screen 
        and (max-device-width: 1100px)
        and (min-device-width: 320px)
        and (orientation: landscape) {
          background-color: #ffffff;
      }
    }
    &::before {
      content: '';
      width: 30px;
      height: 3px;
      position: absolute;
      top: 23px;
      right: 10px;
      background-color: #ffffff;
      transform: rotate(-45deg);
      transition: all .3s ease-in-out;
      @media screen 
        and (max-device-width: 1100px)
        and (min-device-width: 320px)
        and (orientation: landscape) {
          background-color: #ffffff;
      }
    }
  }
  figure {
    z-index: 201;
    &:hover {
      &~.close-btn {
        &::after {
          background-color: #aaaaaa;
        }
        &::before {
          background-color: #aaaaaa;
        }
      }
    }
  }
  img {
    width: 100%;
    pointer-events: none;
    user-select: none;
  }
  &.show-modal {
    opacity: 1;
    transition: all .3s ease-in-out;
  }
}



section#boat-spec {
  width: 100%;
  padding: 0 15px;
  > p {
    padding: 10px 0;
    text-align: center;
    
  }
  #buttons {
    display: flex;
    margin: 20px 0 30px;
    button {
      margin-right: 10px;
      padding: 15px 18px;
      border: none;
      border-radius: 50px;
      color: $boat-txt;
      font-size: 1.2rem;
      background-color: $boat-btn;
      box-shadow: 5px 5px 10px rgba($shadow, .15);
      transition: all .3s ease-in-out;
      // cursor: pointer;
      &:hover {
        color: $body;
        background-color: $boat-txt;

      }
      &.active {
        color: $body;
        background-color: $boat-txt;
        box-shadow: inset 3px 3px 10px rgba($shadow, .55);
        transition: all .3s ease-in-out;
      }
    }
  }
  p, span {
    font-size: 1.6rem;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 300;
  }
}

.show-spec {
  display: block;
}
.hide-spec {
  display: none;
}


#info-content,
#other-content {
  p {
    margin-bottom: 10px;
  }
}
#spec-content {
  width: 100%;
  li {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid rgba($text, 0.12);
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      border: none;
    }
  }
  p {
    flex-grow: 2;
  }
  span {
    font-weight: bold;
    text-align: right;
  }
}

