$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;

body#it,
body#boat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    // position: relative;
    @media only screen and (min-width: 500px) {
      width: 600px;
      // max-height: 800px;
      margin: auto;
    }
    @media only screen 
      and (min-device-width: 320px)
      and (max-device-width: 900px)
      and (orientation: landscape) {
        width: 100%;
        padding-top: 40px;
      }
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 500px)
      and (orientation: portrait) {
        width: 100%;
        
      }
    &.pad0 {
      padding-top: 0px;
      justify-content: start;
    }
  }
}

  // Блок с картинкой
section.image {
  height: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 15;
  img {
    position: absolute;
  }
  @media (max-width: 500px) {
    height: 360px;
    overflow: hidden;
  }
}
  // Блок с содержанием
section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  @media (max-width: 500px) {
    font-size: 7rem;
  }

}
  // СОДЕРЖАНИЕ
h1.home {
  font-size: 5rem;
  margin: 25px 0 15px;
  @media (max-width: 500px) {
    font-size: 3.5rem;
  }
}
h2.home {
  font-size: 3.5rem;
  @media (max-width: 500px) {
    font-size: 2.8rem;
  }
}
h3.home {
  font-size: 2.2rem;
  margin: 15px 0 30px;
  @media (max-width: 500px) {
    font-size: 1.7rem;
  }
}
p.home {
  margin-bottom: 50px;
  font-size: 1.6rem;
  text-align: center;
  @media (max-width: 500px) {
    // width: 85%;
    font-size: 1.4rem;
    line-height: 20px;
    text-align: left;
  }
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 900px)
  and (orientation: landscape) {
    width: 75%;
  }
}

h1.title {
  margin: 0px 0 25px;
  font-size: 4.5rem;
  @media (max-width: 500px) {
    font-size: 3.5rem;
  }
}