$body: #242d3e;
$text: #e6e6e6;
$border: #565d6d;
$orange: #d58d60;
$green: #a8b780;
$red: #d56060;
$blue: #27588d;
$violet: #67658d;
$shadow: #000000;

///// Шаблон кнопки
.btn {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 5px 20px 15px rgba($shadow, 0.25);
  transition: all 0.3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, 0.45);
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
}
.btn2 {
  position: relative;
  border-radius: 150px;
  border: 5px solid transparent;
  background: $body;
  box-shadow: inset 0 0 0px rgba(darken($body, 20), 0.55),
    -3px -3px 10px rgba(lighten($body, 10), 0.55),
    -6px -6px 15px rgba(lighten($body, 10), 0.25),
    3px 3px 10px rgba(darken($body, 10), 0.55),
    6px 6px 15px rgba(darken($body, 10), 0.25);
  transition: all 0.3s ease-in-out;
  z-index: 5;
  &:hover {
    box-shadow: inset 0 0 20px rgba(darken($body, 30), 0.55),
      -3px -3px 10px rgba(lighten($body, 10), 0.55),
      -6px -6px 15px rgba(lighten($body, 10), 0.25),
      3px 3px 10px rgba(darken($body, 10), 0.55),
      6px 6px 15px rgba(darken($body, 10), 0.25);
  }
}

// Широкая кнопка
.link-btn {
  padding: 16px 35px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn;
}
// Широкая кнопка
.it-btn {
  margin-bottom: 70px;
  padding: 25px 35px 25px 70px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn2;
  color: darken($text, 20);
  @media (max-device-width: 600px) {
    margin-bottom: 20px;
  }
  div.icon-bt {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 15px;
    border-radius: 50%;
    background: $green;
    box-shadow: inset 1px 3px 5px rgba($shadow, 0.4),
      0 0 3px 1px rgba($border, 0.9);
    transform: translateY(-50%);
    &::after {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      background: $green;
      filter: blur(3px);
      transform: scale(0.9);
      opacity: 1;
      animation: callphone 3s ease-in-out infinite;
      z-index: -1;
    }
  }
  i {
    position: absolute;
    font-size: 2.6rem;
    color: darken($body, 5);
    &#phone-home {
      top: 4px;
      left: 2px;
    }
    &#geo-delivery {
      top: 5px;
      left: 2px;
    }
  }
}

@keyframes callphone {
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
}

// Круговая кнопка
.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
  @extend .btn;
  &:hover {
    &::after {
      transform: scale(0.93);
    }
  }
}

// NНАВИГАЦИЯ ПО САЙТАМ
nav {
  width: 501px;
  position: fixed;
  background: lighten($body, 10);
  z-index: 1000;
  @media (max-width: 500px) {
    width: 100%;
    bottom: 0;
  }

  @media (min-width: 501px) {
    top: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 10px 10px rgba($shadow, 0.2);
  }
  ul#navigation {
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      &.active-btn {
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          left: 0;
          background: lighten($body, 50);
        }
      }
      // Кнопка назад
      &.back-btn {
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      color: darken($text, 20);
      font-size: 1.3rem;
      font-weight: 400;
      transition: all 0.3s ease-in-out;
      i {
        color: darken($text, 20);
        font-size: 2.5rem;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        color: $text;
        i {
          color: $text;
        }
      }
      &.active {
        color: $text;
        i {
          color: $text;
        }
      }
    }
  }
}

// Кнопка назад для моб.
div#btn_back_spec {
  width: 600px;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: darken($body, 3);
  z-index: 100;
  @media only screen and (max-device-width: 900px) and (orientation: landscape) {
    width: 100%;
  }
}
div#btn_back,
#btn_back_spec {
  display: none;
  @media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (orientation: portrait) {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: darken($body, 3);
    z-index: 100;
  }
  a {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 15px;
    #btn_back--icon {
      width: 20px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50px;
      background: $text;
      &::after {
        content: '';
        width: 10px;
        height: 3px;
        position: absolute;
        background: inherit;
        border-radius: inherit;
        top: 4px;
        transform: rotate(45deg);
      }
      &::before {
        content: '';
        width: 10px;
        height: 3px;
        position: absolute;
        background: inherit;
        border-radius: inherit;
        top: -4px;
        transform: rotate(-45deg);
      }
    }
  }
  span {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
