h1.oy-title {
  display: inline;
  width: auto !important;
  padding: 8px 18px;
  background-color: transparentize($text, 0.3);
  span {
    font-weight: inherit;
  }
}
.cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  padding: 30px 0;
  @media screen and (max-width: 960px) {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: 50px auto 1fr 50px;
  }
  h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    @media screen and (max-width: 960px) {
      align-self: center;
      justify-self: left;
    }
  }
  figure {
    grid-column: 2;
    grid-row: 1/-1;
    align-self: center;
    justify-self: center;
    width: 180px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    @media screen and (max-width: 960px) {
      grid-column: 1;
      grid-row: 2;
      width: 100%;
      margin-bottom: 20px;
      justify-self: left;
    }
    img {
      width: inherit;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      position: absolute;
      border-width: 5px;
      border-style: solid;
      border-color: transparent;
      transition: all 0.3s ease-in-out;
      z-index: 5;
    }
    &:hover img {
      border-color: #fff;
    }
  }
  ul {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.6rem;
    color: darken($text, 20);
    font-weight: 300;
    @media screen and (max-width: 960px) {
      grid-column: 1;
      grid-row: 3;
      align-self: center;
      justify-self: left;
      font-size: 1.6rem;
    }
    li {
      margin: 3px;
    }
  }
  .cart-price {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    align-items: center;
    font-size: 2rem;
    @media screen and (max-width: 960px) {
      grid-column: 1;
      grid-row: 4;
      align-self: center;
      justify-self: left;
    }
    img {
      margin-left: 5px;
    }
  }
}
